
/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole header */

header {

    background-color: rgb(255, 140, 0);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
       
}

.header_container {
    /* debug */
    height: 60px;
    /* background-color: aqua; */
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

#logo-boolean {
    
    height: 80%;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Regole main */

main{

    padding-top: 80px;
    display: flex;
    justify-content: center;
    
    
}

.main_container {

    /* DEBUG */
    /* background-color: aqua; */
    /* height: 1000px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
    
    width: 80%;

}

/* Regole prodotti */
.box_immagini {
    position: relative;

}

#lista_prodotti {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    
}

.prodotti {
    
    width: 32%;
    margin-bottom: 20px;
    position: relative;
    

    
}

.prodotti_img {
    
    max-width: 100%;
    margin-bottom: 2px;
}
/* Box sconti */
.sconti {

    position: absolute;
    top: 75%;
    display: flex;
}

.cuore {
    position: absolute;
    top: 1%;
    right: 0%;
    display: flex;


}

.box_sconti_rosso{

    
    background-color: red;
    font-size: 15px;
    color: white;
    padding: 4px;
    
    
}

.box_sconti_verde{

    
    background-color: rgb(5, 83, 8);
    font-size: 15px;
    color: white;
    padding: 4px;
    
    
    
}



/* Prezzi */

.prezzi_rossi {

    color: red;
    
}

.prezzi_sbarrati {

    text-decoration: line-through;

}

/* Box cuore */

.box_cuore_nero{

    
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 9px;
    
    
}

/* Regole hover */

.img_hover {

    max-width: 100%;
    margin-bottom: 2px;
    display: none;

    position: absolute;

    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.box_immagini:hover .img_hover {

    display: block;
}





/* Footer */

footer {

    background-color: rgb(0, 0, 0);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_container {

    /* debug */
    /* height: 50px;
    background-color: aqua; */
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.a_footer {

    font-size: 12px;
}

h5 {
    color: white;
}