
/* regole generali di pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole header */

header {

    background-color: orange;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.header_container {
    /* debug */
    height: 60px;
    /* background-color: aqua; */
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo-boolean {
    
    height: 80%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Regole main */

main{

    display: flex;
    justify-content: center;
    
}

.main_container {

    /* DEBUG */
    /* background-color: aqua; */
    /* height: 1000px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;

}

#lista_prodotti {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
    
}

.prodotti {
    
    width: 32%;

    
    
    
       
}

.prodotti_img {
    
    max-width: 100%;
}

.prezzi_rossi {

    color: red;
}

.prezzi_sbarrati {

    text-decoration: line-through;

}
